/* Este es un comentarioooo */

html {
  background-color: #ccc;
  scroll-behavior: smooth;
}

body{

}

a {
  color: mediumslateblue;
}


img, video{
  max-width: 100%;
}

/* SELECTOR DE ETIQUETAS: A CUUALQUIER ETIQUETA HTML */
p{
  color: black;
}

/* SELECTOR DE IDENTIFICADOR: CUALQUIER ETIQUETA HTML CON EL ATRIBUTO "ID" */
#menu{
  color: purple;
  background-color: violet;
}

/* SELECTOR DE CLASES: CUALQUIER ETIQUETA HTML QUE TIENE ASIGNADO UN ATRIBUTO "CLASS"  */
.fs-20{
  font-size: 20px;
}

.fs-16{
  font-size: 16px;
}

.fs-12{
  font-size: 12px;
}

.bg-orange{
  background-color: orange;
}

.bg-olive{
  background-color: olive;
}

.bg-pink
{
  background-color: pink;
}

.text-left{
  text-align: left;
}

.text-right{
  text-align: right;
}

.text-center{
  text-align: center;
}

.text-chocolate{
  color: chocolate;
}

.text-red{
  color: red;
}

.text-gold{
  color: gold;
}

.rounded{
  border-radius: 100%;
}

.sepia{
  filter: sepia(1);
}

.gray-scale{
  filter: grayscale(1);
}

/* HOVER ES CUANDO PONES EL MOUSE ENCIMA */
/* PSEUDOCLASES */
#dogP:hover{
  border-radius: 5 rem;
  border: 5px solid white;
  filter: blur(1 rem);
  transform: rotate(360deg) scale(2) translate(175px, -100px);
}

#estaciones li:first-child {
  color:blueviolet;
}

#estaciones li:last-child {
  color:deepskyblue;
}

#estaciones li:nth-child(3){
  color: deeppink;
}


/* PONER UN ESTILO DE TEXTO DE INTERNET*/
/* SE DEBE DE PONER TAMBIÉN LOS LINKS EN EL DOCUMENTO HTML ARRIBA DEL LINK DE LA HOJA DE ESTILOS */
.jersey-font{
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}


